<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="imallett.FlashBang">

    <!-- List: https://developer.android.com/guide/topics/manifest/uses-feature-element.html#hw-features -->
    <uses-feature android:name="android.hardware.microphone"/>
    <uses-feature android:name="android.hardware.sensor.light"/>
    <!-- List: https://developer.android.com/reference/android/Manifest.permission.html -->
    <!-- Yes, RECORD_AUDIO, not CAPTURE_AUDIO_OUTPUT -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/name_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Activities.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".Activities.ActivityOptions" android:label="@string/name_options">
        </activity>

        <activity android:name=".Activities.ActivityReadme" android:label="@string/name_readme">
        </activity>
    </application>

</manifest>
